/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env

# ---------------[ Unity generated ]------------------ #
Temp/
Obj/
UnityGenerated/
Library/
 
# ----[ Visual Studio / MonoDevelop generated ]------- #
 
ExportedObj/
*.svd
*.userprefs
/*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# -------------[ OS generated ]------------------------ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db